ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080

ConnectionStrings__DefaultConnection=Host=ep-jolly-wind-aq6wv9uf-pooler.c-8.us-east-1.aws.neon.tech;Port=5432;Database=neondb;Username=neondb_owner;Password=npg_Gx7oJAWYikw5;SSL Mode=Require;Trust Server Certificate=true

Jwt__Issuer=SponsorshipApproval.Api
Jwt__Audience=SponsorshipApproval.Client
Jwt__Key=RD66GeilE8mDNK54BDxzQFk3dqZpprtYfUseF9KV47NKgENOeW9rq+MINoHcvc9n19C37DPOtQYSxk760Mggug==
Jwt__ExpiresMinutes=120

AllowedOrigins__0=https://sraws-frontend.vercel.app